/* main */
.home-main {
    overflow: hidden;
}

/* header */
.home-header {
    background-color: white;
    height: 10vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid #bdbcbc;
}

.home-header img {
    height: 20vh;
    flex: 0.5;
    margin-left: 2vw;
    /*background-color: purple;*/
}

.header-content {
    flex: 5;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1vw;
    /*background-color: purple;*/
}

.header-buttons {
    /*background-color: darkgreen;*/
    height: 100%;
    flex: 1.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 2vw;
    justify-content: space-evenly;
}

.header-buttons button svg {
    font-size: 40px !important;
}

.btn-link {
    color: black !important;
    z-index: 1;
    text-transform: capitalize !important;
    font-size: 1.2rem !important;
    font-weight: 500 !important;
    border-radius: 10px !important;
}

.profile-btn-image{
    width: 50px !important;
    height: 50px !important;
    border-radius: 50px !important;
    margin-left: 1vw !important;
}

/* body */
.home-body {
    width: 100vw;
    margin-top: 10vh;
    margin-bottom: 1vh;
    max-height: 10000vh;
}

/* footer */
.home-footer {
    background-color: white;
    border-top: 1px solid rgba(225, 221, 221, 0.6);
    width: 100vw;
    height: 60vh;
}

.footer-content {
    height: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 5vw;
}

.footer-content img {
    height: 50vh;
    width: 25vw;
}

.footer-item {
    /*background-color: darkblue;*/
    height: 40vh;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2vh;
}

.footer-item img {
    height: 15vh;
    width: 100%;
}

.footer-right {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-right span{
    color: black;
}

.footer hr{
    border-top: 4px;
    border-bottom-width: thin;
    border-color: black;
}